.follower {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
   
    .user-info {
        display: flex;
        align-items: center;
        gap: 20px;
        cursor: pointer;
    } 

    .follow-link {
        color: var(--accent-color);
    }
}

@media (max-width: 480px) {
    .follower{
        .user-info{
            // gap: 10px;
            font-size: .8rem;
        }
    }
}