.feed {
    margin-top: 80px;

    .container {
        display: flex;
        gap: 20px;
        overflow: hidden;
    }

    .left-part {
        flex: 2;
        overflow-y: auto;
    }

    .right-part {
        flex: 1;
        margin-top: 20px;
    }

    .suggestions {
        margin-top: 40px;
    }

    .title {
        margin-bottom: 12px;
    }
}


@media (max-width: 480px) {
    .feed {
        margin-top: 60px;
        .container {
            flex-direction: column-reverse;

            .left-part {
                flex: 1;
            }

            .right-part {
                flex: 2;

                .followings-title {
                    display: none;
                }

                .followings {
                    background-color: rgb(236, 234, 234);
                    display: flex;
                    gap: 15px;
                    padding: 10px 0;
                    overflow-x: scroll;
                    align-items: center;

                    .follow-in-feed  {
                        width: 500px;
                        display: none;
                    }

                    .follower-in-feed {
                        padding: -3px 0px;
                        margin: -9px 0px;
                    }

                    .name-in-feed {
                        display: none;
                    }

                    .user-in-feed {
                        display: flex;
                        justify-content: space-evenly;
                        gap: 5px;
                        flex-direction: column;
                    }
                }
            }

            .suggestions {
                background-color: rgb(236, 234, 234);
            }
        }
    }
}