.update-profile {

    .container {
        display: flex;
        padding-top: 20px;
    }

    .left-part {
        flex: 1;
        text-align: center;


        .input-user-img {
            display: flex;
            align-items: center;
            justify-content: center;

            .labelImg {
                height: 80px;
                width: 80px;
                border-radius: 50%;
                border: 2px solid var(--accent-color);
                cursor: pointer;
            }

            .input-img {
                display: none;
            }

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }

    }

    .right-part {
        flex: 3;

        form {
            border: 1px solid var(--border-color);
            padding: 20px;
            border-radius: 4px;
        }

        input {
            padding: 8px 16px;
            display: block;
            width: 100%;
            margin-top: 16px;
            border: 1px solid var(--border-color);
            outline: none;
            border-radius: 4px;
        }

        .btn-primary {
            width: fit-content;
        }

        .submit-btn {
            background-color: #3485fd;
        }

        .submit-btn:hover {
            background-color: #0262f1;
        }

        .delete-account {
            margin-top: 16px;
            color: whitesmoke;
            background-color: rgb(252, 36, 36);
        }

        .delete-account:hover {
            color: white;
            background-color: rgb(238, 5, 5);
        }

    }
}

@media (max-width: 480px) {
    .update-profile {

        .container {
            padding-top: 40px;
            flex-direction: column;

            .right-part {

                form {
                    padding: 10px;
                    border-radius: 4px;
                }

                input {
                    padding: 8px 16px;
                    width: 100%;
                    margin-top: 14px;
                    border: 1px solid var(--border-color);
                    outline: none;
                    border-radius: 4px;
                }

                .delete-account  {
                    display: block;
                    margin: auto;
                    font-size: .7rem;
                    padding: 6px 10px;
                }

            }
        }
    }
}