.navbar {
    border-bottom: 1px solid var(--border-color);
    height: 60px;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: white;

    .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .banner {
            color: #458eff;
        }
    }

    .right-side {
        display: flex;
        gap: 26px;
        align-items: center;

        .user-info {
            display: flex;
            align-items: center;
            gap: 10px;
            justify-content: space-between;

            .user-name {
                font-size: 1.1rem;
                font-weight: bold;
            }
        }
    }

    .logout {
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media (max-width: 480px) {
    .navbar {
        height: auto;

        .container {
            flex-direction: column;

            .right-side {
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding: 8px 5px;
            }

            .user-info {
                .user-name {
                    font-size: .9rem;
                }
            }

            .banner {
                margin: 0 auto;
                padding: 5px 1px;
            }

        }

    }
}